<div class="jumbotron">
    <p>Przypominanie hasła: </p>
    <form class="form-horizontal" role="form">
        <BR>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="input_login">Email: </label>
            <div class="col-sm-4">
                <input class="form-control" type="text" id="input_login"
                       placeholder="Wprowadź email wprowadzony podczas rejstracji">
            </div>
        </div>
        <BR>
        <button type="submit" class="btn btn-default">Wyślij</button>
    </form>
</div>

