<h3>Lista użytkowników: </h3>
{{test}}

<table class="table table-hover">
    <thead>
    <th>Login</th>
    <th>Email</th>
    <th>Imię</th>
    <th>Nazwisko</th>
    <th>Edycja</th>
    <th>Usuń</th>

    </thead>

    <tbody ng-repeat="user in users">
    <tr data-toggle="collapse" data-target="#accordion{{user.userId}}" class="clickable">
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.firstname}}</td>
        <td>{{user.surname}}</td>
        <td><a ng-href="view/user/edit/{{user.userId}}">edycja</a></td>
        <td><a ng-click="removeUser($index)">usuń</a></td>
    </tr>
    <tr>
        <td class="col-lg-12">
            <div id="accordion{{user.userId}}" class="collapse">
                <div class="col-lg-6">
                    Płeć: {{user.sex}}<br>
                    Wiek: {{user.age}}<br>
                    Strona domowa: {{user.homepage}}<br>
                    Opis: {{user.description}}<br>
                    Czas utworzenia: {{user.creationTime}}<br>
                </div>
                <div class="col-lg-6">
                    Grupy:<br>
                    <ul>
                        <li ng-repeat="group in user.groupJsonList">{{group.groupName}}</li>
                    </ul>
                </div>
            </div>
        </td>
        <td class="col-lg-0"></td>
        <td class="col-lg-0"></td>
        <td class="col-lg-0"></td>
        <td class="col-lg-0"></td>
        <td class="col-lg-0"></td>
    </tr>
    </tbody>
</table>