<div class="jumbotron">

    <div class="row">
        <div class="col-lg-6">
            <p>Logowanie</p>

            <form name="loginForm" class="form-horizontal text-center" ng-submit="signIn()">
                <div class="form-group form-group-sm">
                    <div class="col-sm-3">
                        <label class="col-sm-2 control-label" for="input_login">Login: </label>
                    </div>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="username" id="input_login"
                               ng-model="username" required placeholder="Wpisz login">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <div class="col-sm-3">
                        <label class="col-sm-2 control-label" for="input_password">Hasło: </label>
                    </div>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" name="password" id="input_password"
                               ng-model="password" required placeholder="Wpisz hasło">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <div class="col-sm-7">
                        <span class="bg-danger"
                              ng-show="authFailureStatus"><b>Błedne dane!</b></span>
                        <BR><a href="view/user/forgotten" ng-show="authFailureStatus">Nie pamiętam hasła</a>
                    </div>
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-default btn-sm">Zaloguj</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-6">
            <p>Nie posiadasz jeszcze konta na mojej stronie ?</p>
            <BR>
            Zarejstruj je teraz, a otrzymasz dostęp do:

            <ul>
                <li>komentowania wpisów</li>
                <li>dodawania własnych wpisów</li>
                <li>zarządzania własnym kontem</li>
            </ul>
            <BR>
            <b><a href="view/user/register">ZAŁÓŻ KONTO TERAZ</a></b>
        </div>
    </div>
</div>
</div>


