<div class="jumbotron">

    <p>Rejstracja: </p>
    {{msg}}
    <form class="form-horizontal" role="form" name="userForm" ng-submit="registerUser()">
        <b>Dane obowiązkowe: </b>
        <BR><BR>

        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="input_login">Login: </label>

            <div class="col-sm-4">
                <input class="form-control" type="text" id="input_login" placeholder="Wprowadź Login"
                       ng-model="user.username" name="login">
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="input_email">Adres email: </label>

            <div class="col-sm-4">
                <input class="form-control" type="email" id="input_email" placeholder="Wprowadź adres email"
                       ng-model="user.email"
                       ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+\.([a-z0-9-]+)+$/i"
                       ng-minlength="2" ng-maxlength="30" required name="email">
                <span class="bg-danger" ng-show="userForm.email.$error.pattern ||
                                                      userForm.email.$error.minlength ||
                                                      userForm.email.$error.maxlength">Wprowadzony adres email jest błędny!</span>
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="input_password">Hasło: </label>

            <div class="col-sm-4">
                <input class="form-control" type="password" id="input_password" placeholder="Wprowadź hasło"
                       ng-model="user.password" name="password" equals="{{passwordConfirm}}" required>
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="input_confirm_password">Powtórz Hasło: </label>

            <div class="col-sm-4">
                <input class="form-control" type="password" id="input_confirm_password"
                       placeholder="Wprowadź ponownie hasło" ng-model="passwordConfirm" name="confirm_password"
                       required equals="{{user.password}}">
                <span class="bg-danger"
                      ng-show="userForm.confirm_password.$error.equals">Wprowadzone hasła są różne!</span>
            </div>
        </div>
        <b>Dane opcjonalne: </b>
        <BR><BR>

        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="input_firstname">Imię: </label>

            <div class="col-sm-4">
                <input class="form-control" type="text" id="input_firstname" placeholder="Wprowadź imię"
                       ng-model="user.firstname" ng-pattern="/^[A-Za-zżźćńółęąśŻŹĆĄŚĘŁÓŃ -]+$/" ng-minlength="2"
                       ng-maxlength="20" name="firstname">
                <span class="bg-danger" ng-show="userForm.firstname.$error.pattern ||
                                                      userForm.firstname.$error.minlength ||
                                                      userForm.firstname.$error.maxlength">Wprowadzone imię jest błędne!</span>
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="input_surname">Nazwisko: </label>

            <div class="col-sm-4">
                <input class="form-control" type="text" id="input_surname" placeholder="Wprowadź nazwisko"
                       ng-model="user.surname" ng-pattern="/^[A-Za-zżźćńółęąśŻŹĆĄŚĘŁÓŃ -]+$/" ng-minlength="2"
                       ng-maxlength="20" name="surname">
                <span class="bg-danger" ng-show="userForm.surname.$error.pattern ||
                                                      userForm.surname.$error.minlength ||
                                                      userForm.surname.$error.maxlength">Wprowadzone nazwisko jest błędne!</span>
            </div>
        </div>


        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">Płeć: </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="men" value="m" ng-model="user.sex"> Mężczyzna
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="women" value="k" ng-model="user.sex"> Kobieta
            </label>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="input_age">Wiek: </label>

            <div class="col-sm-4">
                <input class="form-control" type="text" id="input_age" placeholder="Wprowadź wiek"
                       ng-model="user.age" ng-pattern="/^[0-9]+$/" name="age" ng-minlength="1"
                       ng-maxlength="2">
                <span class="bg-danger" ng-show="userForm.age.$error.pattern||
                                                      userForm.age.$error.minlength ||
                                                      userForm.age.$error.maxlength">Wprowadzony wiek jest błędny!</span>
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="input_homepage">Strona domowa: </label>

            <div class="col-sm-4">
                <input class="form-control" type="text" id="input_homepage" placeholder="Wprowadź strone domową"
                       ng-model="user.homepage">
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="input_description">Krótki opis: </label>

            <div class="col-sm-4">
                <input class="form-control" type="text" id="input_description" placeholder="Napisz coś o sobie"
                       ng-model="user.description">
            </div>
        </div>
        <BR>
        <BR>
        <button type="submit" class="btn btn-default" ng-disabled="userForm.$invalid">Zarejstruj
        </button>
    </form>
</div>

