<!DOCTYPE html>
<html>
<head lang="pl">
    <title>Portfolio</title>
    <META HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8">

    <link rel="stylesheet" href="./lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./lib/bootstrap/dist/css/bootstrap.min.css">

    <script src="./lib/jquery/dist/jquery.min.js"></script>

    <script src="./lib/angular/angular.min.js"></script>
    <script src="./lib/angular-route/angular-route.min.js"></script>
    <script src="./lib/angular-resource/angular-resource.min.js"></script>

    <script src="./lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="./scripts/index.js"></script>
    <script src="./scripts/directive/form-utils.js"></script>
    <script src="./scripts/controller/portfolio-controllers.js"></script>
    <script src="./scripts/controller/user-controllers.js"></script>
    <script src="./scripts/service/user-services.js"></script>
    <script src="./scripts/controller/group-controllers.js"></script>
    <script src="./scripts/service/group-services.js"></script>
    <script src="./scripts/controller/auth-controllers.js"></script>
    <script src="./scripts/service/auth-service.js"></script>
    <base href="/index.html">

</head>
<body ng-app="indexApp">
<div class="container">
    <div class="row">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Rozwiń nawigację</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="./img/logo.png" class="img-rounded"></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html#/view/portfolio/about">O mnie</a></li>
                        <li><a href="#">Doświadczenie</a></li>
                        <li><a href="#">Projekty własne</a></li>
                        <li><a href="api/user/test" target="_blank">Projekty w , których brałem udział</a></li>
                    </ul>
                    <div ng-controller="LoginController">
                        <div class="nav navbar-nav navbar-right">
                            <div style="clear:both;">
                                Witaj, {{loggedUser}}
                                <div ng-show="isUserLogged"><a href="index.html#/view/user/logout">Wyloguj</a></div>
                                <div ng-hide="isUserLogged"><a href="index.html#/view/user/login">zaloguj się</a></div>
                            </div>
                        </div>
                    </div>
                    <BR><BR><BR><BR>
                    <div class="col-lg-9"><!-- main content -->
                        <ul class="nav nav-tabs nav-justified">
                            <li><a href="#">menu 1</a></li>
                            <li><a href="#">menu 2</a></li>
                            <li><a href="#">menu 3</a></li>
                            <li><a href="#">menu 4</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3"><!-- main content -->
                        <div class="nav navbar-nav navbar-right" ng-show="viewAdminMenu">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Administracja <span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="index.html#/view/user/list">Użytkownicy</a></li>
                                        <li><a href="index.html#/view/group/list">Grupy uprawnień</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /
                    .navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>

    <div class="row">
        <div class="col-lg-9"><!-- main content -->
            <div ng-view></div>
        </div>
        <div class="col-lg-3"><!-- right content -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Statystyki</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li> 1. test grid 1</li>
                        <li> 2. test grid</li>
                        <li> 3. test grid</li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Najnowzsze wpisy:</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li> 1. test grid 1</li>
                        <li> 2. test grid</li>
                        <li> 3. test grid</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer class="row">
        <div class="panel-footer text-right">
            <p>PORTFOLIO, logo prawa etc</p>
        </div>
    </footer>
</div>
</body>
</html>