<div class="jumbotron">
    <p>Edytuj grupę: </p>
    {{msg}}
    <form class="form-horizontal" role="form" name="groupForm" ng-submit="editGroup()">
        <BR><BR>

        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="input_groupName">Nazwa grupy: </label>

            <div class="col-sm-4">
                <input class="form-control" type="text" id="input_groupName" placeholder="Wprowadź nazwe grupy"
                       ng-model="group.groupName" required>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">Uprawnienia grupy: </label>

            <div class="col-sm-4">
                <div ng-repeat="authority in group.authorityJsonList | orderBy: authority.authorityName">
                    <button type="button" class="btn btn-mini" ng-click="removeAuthority($index)">
                        {{authority.authorityName}}
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="avaliableAuthorities">Dostępne uprawnienia</label>

            <div class="col-sm-4">
                <div id="avaliableAuthorities">
                    <div ng-repeat="authorityAvaliable in authorityList | orderBy: 'authorityName'">
                        <button type="button" class="btn btn-mini" ng-click="addAuthority($index)">
                            {{authorityAvaliable.authorityName}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <BR>
        <button type="submit" class="btn btn-default" ng-diasabled="groupForm.$invalid">Zarejstruj</button>
    </form>
</div>

