<h3>Lista grup: </h3>
<BR>
<a href="view/group/create">Dodaj grupę</a>
<BR>
{{msg}}
<BR>
<table class="table table-hover">
    <thead>
    <th class="col-lg-8">Nazwa</th>
    <th class="col-lg-2">Edycja</th>
    <th class="col-lg-2">Usuń</th>
    </thead>
    <tbody ng-repeat="group in groups">
    <tr data-toggle="collapse" data-target="#accordion{{group.groupId}}" class="clickable">
        <td class="col-lg-8">{{group.groupName}}</td>
        <td class="col-lg-2"><a ng-href="view/group/edit/{{group.groupId}}">edycja</a></td>
        <td class="col-lg-2"><a ng-click="removeGroup($index)">usuń</a></td>
    </tr>
    <tr>
        <td class="col-lg-12">
            <div id="accordion{{group.groupId}}" class="collapse">

                <div class="row">
                    <div class="col-lg-6">
                        Uprawnienia:
                        <ul>
                            <li ng-repeat="authority in group.authorityJsonList">{{authority.authorityName}}</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        Użytkownicy:
                        <ul>
                            <li ng-repeat="user in group.userJsonList">{{user.username}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </td>
        <td class="col-lg-0"></td>
        <td class="col-lg-0"></td>
    </tr>
    </tbody>
</table>